
<%= simple_form_for(@r_leg_model) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title%>
    <%= f.input :desc, label: "Description"%>
    <%= f.input :r_leg_file, :label => "Right Leg File", required: true, error: 'Right leg file is mandatory, please specify one'   %>
    <%= f.input :r_leg_image%>
    <%= f.input :model_type, collection: [["Humanoid", 0], ["Land Animal", 1], ["Sea Creature", 2]], selected: "Humanoid"%>
    <div class="hinput">
      <%= f.input :tp, input_html: {value: ""} %>
    </div>
  </div>

  <div class="buttons">
      <div class="row">
        <div class="share-btn-right">
          <div class="form-actions buttons">
            <%= f.submit "Upload Right Leg", :id => "share-btn" , :class => "btn" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
