<p id="notice"><%= notice %></p>

<h1>R Leg Models</h1>

<table>
  <thead>
    <tr>
      <th>R leg file</th>
      <th>Tp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @r_leg_models.each do |r_leg_model| %>
      <tr>
        <td><%= r_leg_model.r_leg_file %></td>
        <td><%= r_leg_model.tp %></td>
        <td><%= link_to 'Show', r_leg_model %></td>
        <td><%= link_to 'Edit', edit_r_leg_model_path(r_leg_model) %></td>
        <td><%= link_to 'Destroy', r_leg_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New R Leg Model', new_r_leg_model_path %>
