<p id="notice"><%= notice %></p>

<p>
  <strong>R leg file:</strong>
  <%= @r_leg_model.r_leg_file %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @r_leg_model.tp %>
</p>

<%= link_to 'Edit', edit_r_leg_model_path(@r_leg_model) %> |
<%= link_to 'Back', r_leg_models_path %>
