<%= simple_form_for(@toy) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %><hr>
    <div class="hinput">
      <%= f.input :head%>
      <%= f.input :arms%>
      <%= f.input :torso%>
      <%= f.input :legs%>
      <%= f.input :rating%>
    </div>
  </div>

  <div class="buttons"><button id="headl" type="button">headl</button> Head <button id="headr" type="button">headr</button></div><hr>
  <div class="buttons"><button id="armsl" type="button">armsl</button> Arms <button id="armsr" type="button">armsr</button></div><hr>
  <div class="buttons"><button id="torsol" type="button">torsol</button> Torso <button id="torsor" type="button">torsor</button></div><hr>
  <div class="buttons"><button id="legsl" type="button">legsl</button> Legs <button id="legsr" type="button">legsr</button></div><hr>
  <div class="buttons"><button type="button">Generate Pattern</button><hr>
  <div class="form-actions">
    <%= f.button :submit, "Share" %>
  </div>
<% end %>