
<div class="details">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
      <!-- Blog Post -->
      <!-- Title -->
      <h1 class="page-title">
        Plushie-Designer
      </h1>
      <h1 class="toyname">
        Sewing Pattern: <%= @toy.name %>
      </h1>
      <!-- Author -->
      <br>
      <h2 class="created-by">
        Created by: <%= @toy.user.username %> 
      </h2>
      <br><br><br>

      <div class="center-image">  
        <img class="PlushImg" src=<%= @toy.image %>>
      </div>
      <h2 class="shapeHeading">Head</h2>
      <div class="center-image">
        <img class="PatternImg" src=<%= @toy.head_uv %>>
      </div>
      <h2 class="shapeHeading">Torso</h2>
      <div class="center-image"> 
        <img class="PatternImg" src=<%= @toy.torso_uv %>>
      </div>
      <h2 class="shapeHeading">Left Arm</h2>
      <div class="center-image"> 
        <img class="PatternImg" src=<%= @toy.larm_uv %>>
      </div>
      <h2 class="shapeHeading">Right Arm</h2>
      <div class="center-image"> 
        <img class="PatternImg" src=<%= @toy.rarm_uv %>>
      </div>
      <h2 class="shapeHeading">Left Leg</h2>
      <div class="center-image"> 
        <img class="PatternImg" src=<%= @toy.lleg_uv %>>
      </div>
      <h2 class="shapeHeading">Right Leg</h2>
      <div class="center-image"> 
        <img class="PatternImg" src=<%= @toy.rleg_uv %>>
      </div>
    </div>
  </div>
</div>

<div class="options">
  <br><br><br>
  <% if current_user == @toy.user%>
  <% end %>
</div>

<div class="editor">
  <%= javascript_pack_tag 'showEditor1' %>
</div>