
<div class="details">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
    
      <!-- Blog Post -->
      <!-- Title -->
      <div class="pdf-header">
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <br><br>
      <h1 class="page-title">
        WISH UPON A PLUSH
      </h1>
      <h1 class="toyname">
        Sewing Pattern: <%= @toy.name %>
      </h1>
      <!-- Author -->
      <br>
      <h2 class="created-by">
        Created by: <%= @toy.user.username %> 
      </h2>
      <br><br><br>

      <div class="center-plush-image">  
        <img class="PlushImg" src=<%= @toy.image %>>
      </div>

      <div class="pdf-header">
        <h2 class="shapeHeading">Sewing Guide</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <h1 class="thank-you">Sewing Guide:</h1>
      <ul class="instructions">
        <li class="instruction">Print the sewing pattern on paper.</li>
        <div class="center-instruction-image">
              <img class="instruction_image" src=<%=$img_tracing%>>
        </div>
        <li class="instruction">Trace the outline with a 0.5cm border for seam allowance</li>
        <div class="center-instruction-image">
          <img class="instruction_image" src=<%=$img_tracing_material%>>
          <img class="instruction_image" src=<%=$img_outer_edge%>>
        </div>
        </ul>
        <div class="pdf-header">
          <h2 class="shapeHeading">Sewing Guide</h2>
          <div class="center-logo">
            <img class="logo" src=<%=$logo%>>
          </div>
        </div>
        <br><br>
        <br><br>
        <ul>
        <li class="instruction">Cut the shape out of the material.</li>
        <div class="center-instruction-image">
              <img class="instruction_image" src=<%=$img_cut_material%>>
        </div>
      
        <li class="instruction">When sewing, face the printed side of the pieces toward the inside, and sew along the pattern edge. When done, turn the sewn piece inside out. This will hide the seams.</li>
        <div class="center-instruction-image">
          <img class="instruction_image" src=<%=$img_inside_out%>>
        </div>
         </ul>
        <div class="pdf-header">
          <h2 class="shapeHeading">Sewing Guide</h2>
          <div class="center-logo">
            <img class="logo" src=<%=$logo%>>
          </div>
        </div>
        <br><br>
        <br><br>
        <ul>
        <li class="instruction">Leave an opening on each shape/limb of the plushie so that you can stuff it.</li>
        <div class="center-instruction-image">
          <img class="instruction_image" src=<%=$img_opening%>>
        </div>
       
        <li class="instruction">Stuff the shapes and close them up.</li>
        <div class="center-instruction-image">
          <img class="instruction_image" src=<%=$img_polysterene%>>
          <img class="instruction_image" src=<%=$img_stuffing_plushie%>>
          <img class="instruction_image" src=<%=$img_finished_limb%>>
        </div>
         </ul>
        <div class="pdf-header">
          <h2 class="shapeHeading">Sewing Guide</h2>
          <div class="center-logo">
            <img class="logo" src=<%=$logo%>>
          </div>
        </div>
        <br><br>
        <br><br>
        <ul>
        <li class="instruction">Attach the limbs by applying fabric glue.</li>
        <div class="center-instruction-image">
          <img class="instruction_image" src=<%=$img_finished_plushie%>>
        </div>
        <li class="instruction">Note that these instructions are optional, you can use whatever method you would like, or have it professionally done.</li>
      </ul>

      <div class="pdf-header">
        <h2 class="shapeHeading">Head</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <div class="center-image">
        <div class="middle">
          <div class="inner">
            <img class="PatternImg" src=<%= @toy.head_uv %>>
          </div>
        </div>
      </div>
      <div class="pdf-header">
        <h2 class="shapeHeading">Torso</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <div class="center-image"> 
        <div class="middle">
          <div class="inner">
            <img class="PatternImg" src=<%= @toy.torso_uv %>>
          </div>
        </div>
      </div>
      <div class="pdf-header">
        <h2 class="shapeHeading">Left Arm</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <div class="center-image">
        <div class="middle">
          <div class="inner">
            <img class="PatternImg" src=<%= @toy.larm_uv %>>
          </div>
        </div>
      </div>
      <div class="pdf-header">
        <h2 class="shapeHeading">Right Arm</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <div class="center-image">
        <div class="middle">
          <div class="inner"> 
            <img class="PatternImg" src=<%= @toy.rarm_uv %>>
          </div>
        </div>
      </div>
      <div class="pdf-header">
        <h2 class="shapeHeading">Left Leg</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <div class="center-image"> 
        <div class="middle">
          <div class="inner">
            <img class="PatternImg" src=<%= @toy.lleg_uv %>>
          </div>
        </div>
      </div>
      <div class="pdf-header">
        <h2 class="shapeHeading">Right Leg</h2>
        <div class="center-logo">
          <img class="logo" src=<%=$logo%>>
        </div>
      </div>
      <div class="center-image">
        <div class="middle">
          <div class="inner">
            <img class="PatternImg" src=<%= @toy.rleg_uv %>>
          </div>
        </div>
      </div>
      
      <div class="center-image">
        <div class="middle">
          <div class="inner">
            <img class="th-logo" src=<%=$logo%>>
            <h2 class="thank-you">
              Thank you!
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="options">
  <br><br><br>
  <% if current_user == @toy.user%>
  <% end %>
</div>