<%
=begin%>
 <p id="notice"><%= notice %></p>

<h1>Toys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toys.each do |toy| %>
      <tr>
        <td><%= toy.name %></td>
        <td><%= toy.rating %></td>
        <td><%= link_to 'Show', toy %></td>
        <td><%= link_to 'Edit', edit_toy_path(toy) %></td>
        <td><%= link_to 'Destroy', toy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toy', new_toy_path %> 
<%
=end%>

<div class="row">
    <!-- Blog toy Content Column -->
    <div class="col-lg-8">
        <% @toys.each do |toy| %>
        <!-- Blog toy -->
        <!-- Title -->
        <h4 style="font-size: 20px;"><%= link_to toy.name, toy %></h4>
        <!-- Date/Time -->
       <p><span class="glyphicon glyphicon-time"></span> Was created: <%= time_ago_in_words(toy.created_at) %>
        </p>

        <!-- Author -->
        <p>
            Plushie By:<strong> <%= toy.user.username %></strong>
        </p>
        <p>
            Rating:<strong> <%= toy.rating %>/5</strong>
        </p>
        <hr>
        <!-- toyed Comments -->
        <!-- Comment -->
        <% end %>
        <%= link_to "Create Plushie", new_toy_path, class: "btn btn-default btn-xs" %>
    </div>
    <!-- Blog Sidebar Widgets Column -->
</div>
<br>