<div class="show-texture-container">
  <div class="controls texture-controls">
    <div class="texture-title">
      <span
        class="title"
        id="texture-popover"
        data-toggle="popover"
        data-content="Use these textures to bring your plushie to life.
                      Click on a part of the plushie and select a texture from below."
      >Textures:</span>
    </div>
    <div id="js-tray" class="tray">
        <div id="js-tray-slide" class="tray__slide"></div>
    </div>
  </div>
</div>

<%= content_tag :div, class: "head", data: {head: @toy.head} do %>
<% end %>

<%= content_tag :div, class: "larm", data: {larm: @toy.arms} do %>
<% end %>

<%= content_tag :div, class: "rarm", data: {rarm: @toy.r_arm} do %>
<% end %>

<%= content_tag :div, class: "torso", data: {torso: @toy.torso} do %>
<% end %>

<%= content_tag :div, class: "lleg", data: {lleg: @toy.legs} do %>
<% end %>

<%= content_tag :div, class: "rleg", data: {rleg: @toy.r_leg} do %>
<% end %>

<%= content_tag :div, class: "headposy", data: {headposy: @toy.head_pos} do %>
<% end %>

<%= content_tag :div, class: "headposx", data: {headposx: @toy.head_posx} do %>
<% end %>

<%= content_tag :div, class: "headposz", data: {headposz: @toy.head_posz} do %>
<% end %>

<%= content_tag :div, class: "torsoposy", data: {torsoposy: @toy.torso_posy} do %>
<% end %>

<%= content_tag :div, class: "torsoposx", data: {torsoposx: @toy.torso_posx} do %>
<% end %>

<%= content_tag :div, class: "torsoposz", data: {torsoposz: @toy.torso_posz} do %>
<% end %>

<%= content_tag :div, class: "larmposy", data: {larmposy: @toy.larm_posy} do %>
<% end %>

<%= content_tag :div, class: "larmposx", data: {larmposx: @toy.larm_posx} do %>
<% end %>

<%= content_tag :div, class: "larmposz", data: {larmposz: @toy.larm_posz} do %>
<% end %>

<%= content_tag :div, class: "rarmposy", data: {rarmposy: @toy.rarm_posy} do %>
<% end %>

<%= content_tag :div, class: "rarmposx", data: {rarmposx: @toy.rarm_posx} do %>
<% end %>

<%= content_tag :div, class: "rarmposz", data: {rarmposz: @toy.rarm_posz} do %>
<% end %>

<%= content_tag :div, class: "llegposy", data: {llegposy: @toy.lleg_posy} do %>
<% end %>

<%= content_tag :div, class: "llegposx", data: {llegposx: @toy.lleg_posx} do %>
<% end %>

<%= content_tag :div, class: "llegposz", data: {llegposz: @toy.lleg_posz} do %>
<% end %>

<%= content_tag :div, class: "rlegposy", data: {rlegposy: @toy.rleg_posy} do %>
<% end %>

<%= content_tag :div, class: "rlegposx", data: {rlegposx: @toy.rleg_posx} do %>
<% end %>

<%= content_tag :div, class: "rlegposz", data: {rlegposz: @toy.rleg_posz} do %>
<% end %>


<%= content_tag :div, class: "head_tex", data: {head: @toy.head_tex} do %>
  <% end %>

  <%= content_tag :div, class: "larm_tex", data: {larm: @toy.larm_tex} do %>
  <% end %>
  
  <%= content_tag :div, class: "rarm_tex", data: {rarm: @toy.rarm_tex} do %>
  <% end %>
  
  <%= content_tag :div, class: "torso_tex", data: {torso: @toy.torso_tex} do %>
  <% end %>
  
  <%= content_tag :div, class: "lleg_tex", data: {lleg: @toy.lleg_tex} do %>
  <% end %>
  
  <%= content_tag :div, class: "rleg_tex", data: {rleg: @toy.rleg_tex} do %>
  <% end %>

<meta property="og:title" content=<%= @toy.name %> />
<meta property="og:image" content=<%= @toy.image %> />
<meta property="og:description" content="Test" />
<meta property="og:site_name" content="Wish upon a Plush" />

<div class="show-toy-container">
  <div class="row">
      <!-- Blog Post Content Column -->
      <div class="info">
          <!-- Blog Post -->
          <!-- Title -->
          <h1 style="font-size: 30.5px;">
              <%= @toy.name %>
               <%= link_to "", displayPDF_path(@toy.id, format: :pdf), class:"downloadthis-inline-download-buttons glyphicon glyphicon-save-file", target: :_blank %>
          
               
               <div class="sharethis-inline-share-buttons"></div>
          </h1>
          <!-- Author -->
          <hr>
          <p class="test">
              Created by: <%= @toy.user.username %>
          </p>
          <hr>
          <div class="test">
            <span class="glyphicon glyphicon-time"></span> Was Posted: <%= time_ago_in_words(@toy.created_at) %> ago
          </div>
          <hr>
          <div class="Ratings">
            
            <h4 class="test">
              Ratings:
            </h4>
            <%= render @toy.ratings %>
          </div>
          <%= render 'ratings/form' %>
          <%= %>
      </div>
  </div>
</div>
<div id="edit_rating" >

</div> 
<div class="show-options">
  <%= link_to 'Back', toys_path %>
  <br><br><br>
  <% if current_user == @toy.user%>
    <div class="show-buttons">
      <span><%= button_to 'Edit', edit_toy_path(@toy), method: "get", :id => "edit-p", :class => "btn ed-button"%></span>
      <span><%= button_to 'Delete', @toy, method: :delete, data: { confirm: 'Are you sure?' }, :id => "delete-p", :class => "btn ed-button" %></span>
    </div>
  <% else %>
    <span><%= button_to 'Contribute', contribute_path(@toy), method: "get", :id => "edit-p", :class => "btn ed-button"%></span>
  <% end %>

</div>

<div class="editor">
    <%= javascript_pack_tag 'showEditor' %>
</div>

<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f4366186142da001992be5f&product=inline-share-buttons" async="async"></script>
<section id="loading-screen">
    <div id="loader"></div>
</section>

<%# <script type="text/javascript">
$(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script> %>