<p>
  <%= content_tag :div, class: "head", data: {head: @toy.head} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "arms", data: {arms: @toy.arms} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "torso", data: {torso: @toy.torso} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "legs", data: {legs: @toy.legs} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "headposy", data: {headposy: @toy.head_pos} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "headposx", data: {headposx: @toy.head_posx} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "torsoposy", data: {torsoposy: @toy.torso_posy} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "torsoposx", data: {torsoposx: @toy.torso_posx} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "larmposy", data: {larmposy: @toy.larm_posy} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "larmposx", data: {larmposx: @toy.larm_posx} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "rarmposy", data: {rarmposy: @toy.rarm_posy} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "rarmposx", data: {rarmposx: @toy.rarm_posx} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "llegposy", data: {llegposy: @toy.lleg_posy} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "llegposx", data: {llegposx: @toy.lleg_posx} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "rlegposy", data: {rlegposy: @toy.rleg_posy} do %>
  <% end %>
</p>

<p>
  <%= content_tag :div, class: "rlegposx", data: {rlegposx: @toy.rleg_posx} do %>
  <% end %>
</p>

<div class="show-toy-container">
  <div class="row">
      <!-- Blog Post Content Column -->
      <div class="info">
          <!-- Blog Post -->
          <!-- Title -->
          <h1 style="font-size: 30.5px;">
              <%= @toy.name %>
          </h1>
          <!-- Author -->
          <hr>
          <p class="test">
              Created by: <%= @toy.user.username %>
          </p>
          <hr>
          <div class="test">
            <span class="glyphicon glyphicon-time"></span> Was Posted: <%= time_ago_in_words(@toy.created_at) %> ago
          </div>
              <hr>
              <div class="Ratings">
                <h4 class="test">
                  Ratings:
                </h4>
                <%= render @toy.ratings %>
              </div>
              <%= render 'ratings/form' %>
      </div>
  </div>
</div>
<div id="edit_rating" >

</div> 
<div class="options">
  <%= link_to 'Back', toys_path %>
  <br><br><br>
  <% if current_user == @toy.user%>
    <span><%= button_to 'Edit', edit_toy_path(@toy), method: "get", :class => "btn ed-button"%></span>
    <span><%= button_to 'Delete', @toy, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn ed-button" %></span>
  <% end %>
</div>

<div class="editor">
    <%= javascript_pack_tag 'showEditor' %>
</div>

<script>
    function reloadIt() {
        if (window.location.href.substr(-2) !== "?r") {
            window.location = window.location.href + "?r";
        }
    }
    setTimeout('reloadIt()', 1)();
</script>