
<%= simple_form_for(@head_model) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :head_file, required: true, error: 'Head file is mandatory, please specify one'  %>
    <div class="hinput">
      <%= f.input :tp, input_html: {value: ""} %>
    </div>
  </div>

  <div class="buttons">
      <div class="row">
        <div class="share-btn-right">
          <div class="form-actions buttons">
            <%= f.submit "Upload Head", :id => "share-btn" , :class => "btn" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
