<p id="notice"><%= notice %></p>

<h1>Payment Informations</h1>

<table>
  <thead>
    <tr>
      <th>Ch name</th>
      <th>Ch surname</th>
      <th>Cell no</th>
      <th>Payment method</th>
      <th>Card no</th>
      <th>Expiration month</th>
      <th>Expiration year</th>
      <th>Security code</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_informations.each do |payment_information| %>
      <tr>
        <td><%= payment_information.ch_name %></td>
        <td><%= payment_information.ch_surname %></td>
        <td><%= payment_information.cell_no %></td>
        <td><%= payment_information.payment_method %></td>
        <td><%= payment_information.card_no %></td>
        <td><%= payment_information.expiration_month %></td>
        <td><%= payment_information.expiration_year %></td>
        <td><%= payment_information.security_code %></td>
        <td><%= payment_information.address_line1 %></td>
        <td><%= payment_information.address_line2 %></td>
        <td><%= payment_information.city %></td>
        <td><%= payment_information.postal_code %></td>
        <td><%= payment_information.country %></td>
        <td><%= link_to 'Show', payment_information %></td>
        <td><%= link_to 'Edit', edit_payment_information_path(payment_information) %></td>
        <td><%= link_to 'Destroy', payment_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Information', new_payment_information_path %>
