<p id="notice"><%= notice %></p>

<p>
  <strong>Ch name:</strong>
  <%= @payment_information.ch_name %>
</p>

<p>
  <strong>Ch surname:</strong>
  <%= @payment_information.ch_surname %>
</p>

<p>
  <strong>Cell no:</strong>
  <%= @payment_information.cell_no %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @payment_information.payment_method %>
</p>

<p>
  <strong>Card no:</strong>
  <%= @payment_information.card_no %>
</p>

<p>
  <strong>Expiration month:</strong>
  <%= @payment_information.expiration_month %>
</p>

<p>
  <strong>Expiration year:</strong>
  <%= @payment_information.expiration_year %>
</p>

<p>
  <strong>Security code:</strong>
  <%= @payment_information.security_code %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @payment_information.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @payment_information.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @payment_information.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @payment_information.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @payment_information.country %>
</p>

<%= link_to 'Edit', edit_payment_information_path(@payment_information) %> |
<%= link_to 'Back', payment_informations_path %>
