<div class="media">
    <div class="pull-left">
        <%= rating.user.username if rating %>
    </div>

    <div class="media-body">
        <p class="media-heading pull-right">
            <%= time_ago_in_words(rating.created_at) %> ago
        </p>
    <!-- <br /> -->
        <div class="row">
            <%= rating.description if rating %>
            <b><%= rating.value  if rating %></b> /5
        </div>    

    </div>
</div>
<% if current_user == rating.user%>
    <%= link_to "Edit", edit_toy_rating_path(rating.toy, rating) %>
<% end %>