<div class="media">
    <div class="pull-left">
        <%= rating.user.username if rating %>
    </div>

    <div class="media-body">
        <p class="media-heading pull-right">
        <%= time_ago_in_words(rating.created_at) %>
    </p>
    <br />
    <%= rating.description if rating %>
    <b><%= rating.value  if rating %></b>


    </div>
</div>
<%= link_to "Edit", edit_toy_rating_path(rating.toy, rating) %>
<%= link_to "Delete", [rating.toy, rating], method: :delete, data: { confirm: "Are you sure?" } %>