<p id="notice"><%= notice %></p>

<p>
  <strong>R arm file:</strong>
  <%= @r_arm_model.r_arm_file %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @r_arm_model.tp %>
</p>

<%= link_to 'Edit', edit_r_arm_model_path(@r_arm_model) %> |
<%= link_to 'Back', r_arm_models_path %>
