<p id="notice"><%= notice %></p>

<p>
  <strong>L leg file:</strong>
  <%= @l_leg_model.l_leg_file %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @l_leg_model.tp %>
</p>

<%= link_to 'Edit', edit_l_leg_model_path(@l_leg_model) %> |
<%= link_to 'Back', l_leg_models_path %>
