<p id="notice"><%= notice %></p>

<p>
  <strong>L arm file:</strong>
  <%= @l_arm_model.l_arm_file %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @l_arm_model.tp %>
</p>

<%= link_to 'Edit', edit_l_arm_model_path(@l_arm_model) %> |
<%= link_to 'Back', l_arm_models_path %>
