<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="left-offset">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bsexample-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "WISH UPON A PLUSH", root_path, class: 'navbar-brand' %>
          </div>
        </div>

        <div class="center">
          <img class="logo" src="/images/logo.svg" alt="Logo">
        </div>

        <div class="right-offset">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <ul class="nav navbar-nav navbar-right"> -->
              <li><%= link_to "PLUSHIES", toys_path %></li>
              <% if !current_user %>
                <li><%= link_to "SIGN UP", new_user_registration_path %></li>
                <li><%= link_to "LOG IN", new_user_session_path %></li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=  current_user.username %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "PROFILE",  edit_user_registration_path %></li>
                    <li><%= link_to "UPLOAD MODEL",  pages_upload_model_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>



        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>